body {
    background-color:honeydew;
    background-image:url(moon.png),url(bamboo_l.png),url(bamboo_r.png);
    background-position:center top, left bottom, right bottom;
    background-size:800px 1066px, 400px 533px,800px 1066px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    margin-left:20%;
    margin-right:20%;
    margin-top: 2cm;
    margin-bottom:2cm;
}
h1 {
    color:lightcoral;
    text-align:center;
    font-family:"Papyrus",fantasy,cursive;
}
h2 {
    color:rosybrown;
    font-family:"Monaco",monospace, sans-serif;
}
h3 {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
p {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
li {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
