body {
    background-color:honeydew;
    background-image:url(moon.png),url(bamboo_l.png),url(bamboo_r.png);
    background-position:center top,left top,right top;
    background-size:75vh 100vh,75vh 100vh,75vh 100vh;
    background-attachment:fixed;
    background-repeat:no-repeat,no-repeat,no-repeat;
    margin-left:20%;
    margin-right:20%;
    margin-top: 2cm;
    margin-bottom:2cm;
}
h1 {
    color:lightcoral;
    text-align:center;
    font-family:"Papyrus",fantasy,cursive;
}
h2 {
    color:rosybrown;
    font-family:"Monaco",monospace, sans-serif;
}
h3 {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
p {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
li {
    color:dimgray;
    font-family:"Monaco",monospace, sans-serif;
}
a:link{
    color:hotpink;
}
a:visited {
    color:palevioletred;
}
iframe {
    align-items:center;
    border-radius:5%;
    border-color:honeydew;
}
